.info_content
    font-size: 18px
    margin-left: 30px
    user-select: none

.progress
    height: 5px !important
    margin-top: 10px

.block-title
    text-transform: uppercase

.fact
    min-height: 85px
    text-indent: 2.5em

.author
    display: flex
    &-img
        img
            width: 230px
            max-height: 300px
    &-info
        margin-left: 15px
        .name
            line-height: 1.2
            font-family: RobotoBold
            font-size: 1.6rem
            color: #444
        .little-desc
            font-size: .9rem
            .oinfo
                min-height: 42px
        .desc
            height: 250px
            padding-right: 15px
            text-align: justify
            overflow-y: scroll
            p
                text-indent: 2.5em
                margin: 0